<%= form_for(worry) do |f| %>
  <% if worry.errors.any? %>
  <div class="card red lighten-4">
    <div class="card-content red-text text-darken-4">
      <ul>
        <% worry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="input-field col m6 offset-m3">
      <%= f.label :detail %>
      <%= f.text_area :detail, class: 'materialize-textarea' %>
    </div>
  </div>


  <div class="row">
    <div class="center">
      <button class="btn waves-effect waves-light" type="submit" name="action"><%=t 'Post' %></button>
    </div>
  </div>
<% end %>
