<p id="notice"><%= notice %></p>

<h1>Worries</h1>

<table>
  <thead>
    <tr>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worries.each do |worry| %>
      <tr>
        <td><%= worry.detail %></td>
        <td><%= link_to 'Show', worry %></td>
        <td><%= link_to 'Edit', edit_worry_path(worry) %></td>
        <td><%= link_to 'Destroy', worry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worry', new_worry_path %>
