<p id="notice"><%= notice %></p>

<h1>Advices</h1>

<table>
  <thead>
    <tr>
      <th>Detail</th>
      <th>Worry</th>
      <th>In reply to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advices.each do |advice| %>
      <tr>
        <td><%= advice.detail %></td>
        <td><%= advice.worry %></td>
        <td><%= advice.in_reply_to %></td>
        <td><%= link_to 'Show', advice %></td>
        <td><%= link_to 'Edit', edit_advice_path(advice) %></td>
        <td><%= link_to 'Destroy', advice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advice', new_advice_path %>
