<!DOCTYPE html>
<html>
  <head>
    <title>InReplyTo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav class="blue-grey" role="navigation">
      <div class="nav-wrapper container"><%= link_to 'in-reply-to', root_path, id: 'logo-container', class: 'brand-logo' %>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to t('Past Worries'), worries_path %></li>
          <% if signed_in?(:user) %>
          <li>ログアウト</li>
          <% else %>
          <li><%= link_to t('Sign-in'), '/auth/twitter' %></li>
          <% end %>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><%= link_to t('Past Worries'), worries_path %></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="row center">
          <%= notice %>
        </div>
      </div>

      <div class="container">
        <div class="card-panel">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer class="page-footer transparent">
      <div class="container">
        <div class="row center">
          <ul>
            <li><%= link_to t('About in-reply-to'), 'https://github.com/kano-e/in-reply-to/blob/master/README.md', class: 'blue-grey-text text-darken-2' %></li>
          </ul>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
